<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mikeBot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">

</head>
<body>

<div class="se-pre-con">Loading</div>

<div id="buttons">
    <div class="button" id="speedDown">
        Q
    </div>
    <div class="button" id="speedUp">
        E
    </div>
    <div class="button" id="up">
        W
    </div>
    </br>

    <div class="button" id="left">
        A
    </div>

    <div class="button" id="right">
        D
    </div>
    </br>
    </br>
    <div class="button" id="down">
        S
    </div>

</div>

<div id="stream">
    <img src='192.168.1.139:8080/?action=stream'/>
</div>


<script type="text/javascript">
    var isOn = 0;
    var keyCheck = null;

    $(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});

    $(document).ready(function () {
        var keyAction = {
            //  keyCode : [(1)KEYDOWN, (2)KEYUP]
            65: ['#left', 'red', 'black', [1, -1], [0, 0]],            // A key (Left)
            68: ['#right', 'red', 'black', [-1, 1], [0, 0]],            // D key  (Right)
            87: ['#up', 'red', 'black', [1, 1], [0, 0]],            // W key
            83: ['#down', 'red', 'black', [-1, -1], [0, 0]],   // S key
            69: ['#speedUp','red', 'black','up', null  ], // E key
            81: ['#speedDown','red', 'black','down', null] // Q key

        };

        $('body').on('keydown keyup', function( e ) {

            var key = e.which;
            var io = e.type == "keydown" ? 1 : 2; // "1"if keydown; "2" if keyup
            var keyArr = keyAction[key];

            if (typeof keyArr != 'undefined') { // Test keyArr to prevent errors


                var propObj = {};
                var motorObj = {"speed":null, 'left':null, 'right':null};
                propObj['outline-color'] = keyAction[key][io];// Object to store property + value for jQuery methods
                if(key === 69 || key === 81){
                    motorObj["speed"] = keyAction[key][io+2];
                    console.log(motorObj);
                    console.log("look up");
                    $(keyAction[key][0]).css(propObj);
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('drive') }}",
                        data: motorObj
                    });
                }

                else if((io == 2 && keyCheck == key) || !isOn){  //prevents two keys from being pressed, does not allow keyup to execute if it is not the same key as the last keydown


                    motorObj["left"] = keyAction[key][io+2][0]// Added data to object for left motor movement
                    motorObj["right"] = keyAction[key][io+2][1]

                    console.log(motorObj);
                    console.log("drive");
                    // Added data to object for right motor movement
                    if(io == 1){
                        isOn = 1; // Change variable to indicate key is being pressed
                        keyCheck = key; // Variable stores which key is pressed
                    }
                    if(io == 2){
                        isOn = 0; // Change variable to indicate no key is currently pressed
                    }
                    // change CSS property and make AJAX POST
                    $(keyAction[key][0]).css(propObj);
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('drive') }}",
                        data: motorObj
                    });
                }

            }
        });

});

</script>

</body>
</html>
